@page "/"

<PageTitle>Реестр занятий</PageTitle>

<h1>Выберите роль</h1>
<hr />

<a class="btn btn-primary" href="/teacher">Преподаватель</a>
<a class="btn btn-primary" href="/supervisor">Диспетчер</a>
<a class="btn btn-primary" href="/student">Студент</a>


